<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waterdrop.mybatisreactive.boot.autoconfigure.sample.mapper.UserMapper">

    <select id="selectList" resultType="com.waterdrop.mybatisreactive.boot.autoconfigure.sample.domain.User">
        select * from user
    </select>

    <select id="getById" parameterType="long" resultType="com.waterdrop.mybatisreactive.boot.autoconfigure.sample.domain.User">
        select * from user WHERE id = #{value}
    </select>

    <insert id="insert" parameterType="com.waterdrop.mybatisreactive.boot.autoconfigure.sample.domain.User">
        insert into user (name,age,created_time) value (#{name}, #{age}, #{createdTime})
    </insert>

    <insert id="batchInsert">
        insert into user (nick,created_at)
        values
        <foreach collection="userList" item="item" separator=",">
            (#{item.nick},#{item.createdAt})
        </foreach>
    </insert>

    <update id="updateById">
        update user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="age != null" >age = #{age},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateErrorSql">
        update user
        set created_time_xx = '123'
        where id_xx = 123
    </update>

    <update id="deleteById">
        delete from user where id = #{id}
    </update>

    <update id="ddl">
        DROP TABLE IF EXISTS `user`;
        CREATE TABLE `user` (
                                `id` int(11) NOT NULL AUTO_INCREMENT,
                                `name` varchar(32) DEFAULT NULL,
                                `age` int(11) DEFAULT NULL,
                                `created_time` datetime DEFAULT NULL,
                                PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

        INSERT INTO `user` VALUES (1, 'test', 20, now());
    </update>
</mapper>
